.App {
    text-align: center;
  }

  .datebox{
    display: inline-block;
  }
  .btn-wdth{
    margin-top: 8px;
    width:max-content;
    height: 50px;
  }


  .datearea{
    background-color: #2980B9;
  }

  
 
  